*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.bg-black {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #151515;
  width: 30%;
  height: 800px;
  display: none;
}
.hero-image {
  position: absolute;
  top: 0px;
  left: 30%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 800px;
  background-color: #fff;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  width: 90%;
  z-index: 999;
}
.left h1 {
  font-family: Big Shoulders Display;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 91.667% */
  text-transform: uppercase;
  mix-blend-mode: difference;
  color: #fff;
  margin-left: 120px;
}
.right {
  width: 350px;
}
.right p {
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 145.455% */
}
.btn-location {
  width: 260px;
  display: flex;
  margin-top: 20px;
}

.btn-location .btn {
  color: #fff;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn button {
  width: 206px;
  height: 72px;
  color: #fff;
  font-family: Big Shoulders Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.636px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-location .btn-image {
  width: 56px;
  background-color: #d5966c;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  margin-top: 200px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  gap: 20px;
}
.main-left-content {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-right-content {
  display: flex;
  flex-shrink: 2;
}
.main-left-content h1 {
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 100% */
  text-transform: uppercase;
}
.main-left-content p {
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 145.455% */
  flex-grow: 2;
}
.main-right-content img {
  width: 635px;
  height: 400px;
}
.gallery {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}
.grid {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "image1 image-2"
    "image1 content";
}
.image1 {
  grid-area: image1;
}
.image-2 {
  grid-area: image-2;
}
.content {
  grid-area: content;
  background-color: #151515;
  width: 445px;
  height: 337px;
  padding: 70px 50px;
}
.content p {
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 145.455% */
  color: #fff;
  margin-top: 10px;
}
.content h1 {
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 100% */
  text-transform: uppercase;
  color: #fff;
}
.image-2 img {
  width: 445px;
  height: 313px;
}
.image1 img {
  width: 605px;
}
@media (min-width: 1100px) {
  .bg-black {
    display: block;
  }
}
@media (max-width: 1099px) {
  .hero-image {
    left: 0;
  }
  .hero-image img {
    left: 0;
    width: 437px;
    height: 700px;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 50%;
    z-index: 999;
    gap: 40px;
    margin-left: 27rem;
  }
  .left h1 {
    color: #000;
    margin-left: 0px;
    width: 339px;
    font-size: 70px;
    line-height: 65px;
  }
  .right p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px; /* 155.556% */
  }
  .container-main {
    width: 100%;
    padding: 0 20px;
  }
  .main-right-content img {
    width: 398px;
    height: 400px;
  }
  .main-left-content h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    width: 223px;
  }
  .main-left-content p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }
  .container-main {
    width: 99%;
  }
}

@media (max-width: 700px) {
  .container-main {
    flex-direction: column;
    width: 100%;
  }
  .main-left-content {
    width: 100%;
  }
  .main-left-content h1 {
    font-size: 35px;
    font-weight: 900;
    line-height: 50px;
    width: 100%;
  }
  .main-right-content img {
    width: 100%;
    height: 400px;
  }
  
